.layout {
    display: grid;
    grid-template-columns: 0.4fr 0.8fr;
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";

    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    background-color: var(--color-secondary-bg);
}

.layout header {
    display: flex;
    grid-area: header;
    padding: 0.1rem;
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    /* border: var(--border-red); */
}

.layout aside {
    grid-area: sidebar;
    padding: 1rem;
    border: var(--border-red);
}

.layout main {
    grid-area: main;
    overflow-y: auto;
    padding: 1rem;
    border: var(--border-red);
}

.layout footer {
    grid-area: footer;
    padding: 1rem;
    border: var(--border-red);
}