@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --font-family-sans: 'Poppins', system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --lh-headers: 1.1;

    --border: solid 2px black;
    --border-red: solid 2px red;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font-family-sans);
}